<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<layout>
			<Pattern>%-4r %-5level Pid:%X{server} Clock:%X{clock} - %msg%n</Pattern>
		</layout>
	</appender>

	<root level="debug">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>
